/* Reset margin and padding for better consistency */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Apply a box-sizing border-box to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf')format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/Dancing_Script/DancingScript-Regular.ttf')format('truetype');
}
@font-face {
    font-family: 'Alfa Slab One';
    src: url('../fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf')format('truetype');
}
@font-face {
    font-family: 'Rubik Iso';
    src: url('../fonts/Rubik_Iso/RubikIso-Regular.ttf')format('truetype');
}
@font-face {
    font-family: 'Siyamrupali';
    src: url('../fonts/Siyamrupali/Siyamrupali.ttf')format('truetype');
}
@font-face {
    font-family: 'Lateef';
    src: url('../fonts/Lateef/Lateef-Regular.ttf')format('truetype');
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

.grid-container .grid-item {
    width: 100%;
}

@media (min-width: 768px) {
    .grid-container .grid-item {
        width: calc(50% - 8px);
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table-ref {
    color: #42b983;
    font-weight: bold;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 8px 8px;
    margin-bottom: 8px;
}
.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid transparent;
    border-color: #f5c2c7;
    border-radius: 0.25rem;
    padding: 8px 8px;
    margin-bottom: 8px;
}
.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 8px 8px;
    margin-bottom: 8px;
}
.text-center{
    text-align: center;
}
.color-vue-1{
    color: #42b983;
}
.button-red{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 5px 5px;
    position: relative;
}
.button-green{
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 5px 5px;
}
.button-blue{
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 5px 5px;
}
.float-right{
    position: relative;
    float: right;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.button-submit {
    width: 100%;
    padding: 15px 0;
  }
  .button-submit button {
    float: right;
  }